<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navbar' %>

  <section class="main">
    <div class="container-fluid">
      <div class="wrapper">
        <%= yield %>
        <div class="push"></div>
      </div>

      <%= render 'layouts/footer' %>
    </div>
  </section>
</body>
</html>
