<% content_for :title, "Library" %>

<table class="table table-striped table-hover tablesorter" id="library">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Date Added</th>
      <th>Last Played</th>
      <th>Top Score</th>
    </tr>
  </thead>

  <tbody>
    <% @sequences.each do |sequence| %>
      <tr data-link="<%= sequence.id %>">
        <td><%= sequence.title %></td>
        <td><%= sequence.artist %></td>
        <td data-text="<%= sequence.created_at %>"><%= sequence.created_at.strftime('%a %b %d') %></td>
        <% if sequence.sessions.empty? %>
          <td data-text="1940-07-07">n/a</td>
          <td>0%</td>
        <% else %>
          <td data-text="<%= sequence.sessions.last.created_at %>"><%= time_ago_in_words(sequence.sessions.last.created_at) %> ago</td>
          <td><%= sequence.sessions.maximum(:score) %>%</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>  

<div class="modal fade add-song" tabindex="-1" role="dialog" aria-labelledby="addSongLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h2>Add song</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>