<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sequence.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @sequence.artist %>
</p>

<p>
  <strong>BPM:</strong>
  <%= @sequence.bpm %>
</p>

<p>
  <strong>Meter top:</strong>
  <%= @sequence.meter_top %>
</p>

<p>
  <strong>Meter bottom:</strong>
  <%= @sequence.meter_bottom %>
</p>  

<%= link_to 'Edit', edit_sequence_path(@sequence) %> |
<%= link_to 'Back', sequences_path %>
